<?php
// Your Page Access Token
$access_token = "EAAX3lZAeXEgMBAOOkAOxF0ZB1WVpvxrSfQKdOrUTPrwMnmv2bNZC45ZBrKTLdbI8UnC3pqn9UjgVC2cT4FJSlwISy1B50SoVCstNqFsY8banpzpCua8pZBdexgg2lsROhTaRUbCdfIhZAkQdErYhdKhY6aa50d9LJwhcjWTj0gIlX8Srraza4y";

// Your webhook varification token
$verify_token = "fb_time_bot";

?>