<?php
// Your Page Access Token
$access_token = "EAAX3lZAeXEgMBAH6XIFzEwpZCAgR4kQtYZAFnmZBJZAZACu4nbrhqPnThZAG9JGihs8jyYaEo1FSCsH4c0qIJNKbGBRsC8crNWvZAsyOc4Rro1CVAQV8Jkzi518szZCkAHuqbaMX2bh8y96zu9S0WvNeDY8XUR16PpZCKD0hhzsMRXX3qSg8oDuZAp2";
// Your webhook varification token
$verify_token = "fb_time_bot";

?>